*{
    font-family: "Century Gothic","CenturyGothicRegular",Verdana,Tahoma,Helvetica,sans-serif;
}
#txtRegex {
    box-shadow: none;
}

#divLabelTop, #divLabelBot, #divCover, #divCover table {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background: transparent;
}

#divLabelTop {
    z-index: 1;
    top: 0;
    font-size: 3em;
    color: #ccc;
    text-shadow: 1px 1px #fff;
}

#divLabelBot {
    z-index: 1;
    bottom: 0;
    font-size: 1.5em;
    color: #555;
    text-shadow: 1px 1px #fff;
}

#divLabelBot u {
    color: red;
    font-size: 1.1em;
    text-decoration: none;
}

#divCover {
    z-index: 3;
    height: 600px;
    background: black;
    opacity: .1;
    border-radius: 4px;
}

#divPlay {
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 5;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px #fff;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    border-radius: 4px;
}

/* to highlight the current regex */
.a {
    text-shadow: 1px 1px #fff;
}

.b {
    color: #555;
}

#esc {
    border: 0;
    width: 0;
    height: 0;
    font-size: 0;
}

#tblTransition td {
    text-align: center;
    font-size: 1.3em;
}

#tblTransition thead td {
    color: blue;
    font-size: 1.8em;
}

#tblTransition tbody tr td:first-child {
    color: green;
}

#tblTransition thead td, #tblTransition tbody tr td:first-child {


}



.bl {
    border-left: 1px solid #ddd;
}

.br {
    border-right: 1px solid #ddd;
}

.blbr {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}




